/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
    .lessonxx {
    width: 20%;
  }
  .lessonxx img{
    width:120px;
    height:120px;
    border-radius: 100px;
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  .lessonxx {
    width: 20%;
  }
  .lessonxx img{
    width:80px;
    height:80px;
    border-radius: 100px;
}
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .header-left a{
    display: none;
  }

  .header-right a{
    display:none;
  }
  
.header-right input{ 
    width: 80%;
    padding-right: 30px;
  }
  .logo{
    margin-left: 50px;
  }

  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
